// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#191970;
}

.body {
  background-image: url('home.jpg');
  background-size: cover;
}

.main-visual-text{
  text-align:center;
  padding-top:30px;
  font-size:60px;
}

.about-visual-text{
  text-align:center;
  padding-top:30px;
  font-size:40px;
}

.sub-about-visual-text{
  text-align:center;
  padding-top:30px;
  font-size:15px;
  color:#dc143c;
}

.link_top{
  color:#191970;
}

.user{
  text-align:center;
  padding-top:30px;
  font-size:17px;
}

.new-user{
  text-align:center;
  padding-top:30px;
  font-size:17px;
}

.guest{
  text-align:center;
  padding-top:30px;
  font-size:17px;
}
