// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#191970;
}

.user-name{
  text-align:center;
  padding-top:30px;
  font-size:40px;
}

.user-menu{
  text-align:right;
  margin-right:120px;
  font-size:17px;
}

.user-detail{
  text-align:left;
  margin-left:80px;
  font-size:15px;
}