<h3>検索結果</h3>

<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.user.name %></td>
          <td><%= post.post %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>