<div class="about-visual">
  <div class="about-visual-content">
    <p class="about-visual-text">
      サッカーを愛するみんなと繋がる投稿サイトです！<br>
      ファンの方と、相手サポーターと、サッカー好きと盛り上がろう！
    </p>
    <p class="sub-about-visual-text">
      ※誹謗中傷のコメントはお控えください。削除の対象となります。
    </p>
  </div>
</div>