<h3>チーム登録</h3>

<%= form_with model: @team, url: admin_teams_path, method: :post do |f| %>
  <p>League</p>
  <%= f.collection_select :league_id, League.all, :id, :name, include_blank: "選択して下さい" %>

  <p>Team</p>
  <%= f.text_field :name %>
  <%= f.submit 'Create' %>
<% end %>